<div class = "container" >
  <div class = "row" >
    <div class = "col-md-3" style = "background-color: green;">
      <h1>テスト</h1>
      <h2></h2>

    </div>
    <div class = "col-md-8 offset-md-1" style = "background-color: blue;">
      <h2>記事一覧</h2>

      <table>
        <thead>
          <tr>
            <th>category</th>
            <th></th>
            <th>title</th>
            <th>body</th>
            <th>writer</th>
          </tr>
        <tbody>
          <% @articles.each do |article| %>
          <tr>
            <th><%= article.category %></th>
            <th><%= attachment_image_tag article, :image %></th>
            <th><%= link_to article.title, article_path(article) %></th>
            <th><%= article.body %></th>
            <th><%= article.user.name %></th>
            <th><%= link_to "#{article.comments.count}コメント", article_path(article.id) %></th>
          </tr>
          <% end %>
        </tbody>
        </thead>
      </table>
    </div>
  </div>
  <div class = "row">
    <div class = "col-6" style = "background-color: orange;">
      <h3>テスト</h3>
    </div>
    <div class = "col-6" style = "background-color: red;">
      <h4>テスト</h4>
    </div>
  </div>
</div>