<h1>New Article</h1>
<%= form_with model:@article, local:true do |f| %>
<div class = "form">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</div>

<div class = "form">
  <%= f.label :category %><br />
  <%= f.text_field :category %>
</div>

<div class = "form">
  <%= f.label :image %><br />
  <%= f.attachment_field :image %>
</div>

<div class = "form">
  <%= f.label :body %><br />
  <%= f.text_area :body %>
</div>

<%= f.submit '新規投稿' %>

<% end %>